
<a href="{% url 'imageloader_list' %}">Back to list</a>

<form id="image_form" action="{% url 'imageloader_form' %}" role="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Title:<p>
    <input id="title" type="text" name="title">
    <p>Upload:<p>
    <input id="image_file" type="file" name="image_file">
    <br><br>
    <input type="submit" value="save">
</form>
