{% load static %}
<a href="{% url 'imageloader_form' %}">Add new image</a>

<p>List of uploaded images.</p>


<br><br>

<table>
    {% for img in loaded_images %}
        {% if forloop.counter0|divisibleby:"4" %}
            <tr>
        {% endif %}
        <td><p><img src="{% static 'thumbs' %}/{{img.filename}}" alt="{{img.title}}"><p>
            <p><a href="{% url 'imageloader_view' img_id=img.id %}">View</a> <a href="{% url 'imageloader_delete' img_id=img.id %}">Delete</a></td>
        {% if forloop.counter|divisibleby:"4" or forloop.last %}
            </tr>
        {% endif %}
    {% endfor %}
    </tr>
</table>