{% load static %}

<p><a href="{% url 'imageloader_list' %}">Back to list</a></p>

<p>{{image.title}}</p>

<p>this image was uploaded on {{image.created_at}}</p>

<img src="{% static 'images' %}/{{image.filename}}" alt="{{img.title}}">
